
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Ajouter 1/2 boutons -->
    
    <div class="carousel-inner" >
      <div class="carousel-item" *ngFor="let jeuSugg of arrayJeuxSugg;let isFirst = first" [ngClass]="{active:isFirst}">
        <div class="card" >
          <div class="imageCard">
          <img src="{{jeuSugg.image}}" class="d-block w-100" alt="{{jeuSugg.nomJeu}}">
        </div>
          <div class="card-body">
            <h5 class="card-title">{{jeuSugg.nomJeu}}</h5>
            <p class="card-text">{{jeuSugg.description}}</div>
          <div class="card-footer">
            <small class="text-muted">On met un "footer"dans la card ?</small>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>