#myCarousel {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
img{
    max-width: 100%;
}
#boutonAjouter {
    float:right;
    margin-right: 137px;
}
#boutonInfo {
    margin-left: 137px;
}

