<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol> -->
  <div class="carousel-inner">

    <!-- AFICHAGE CONNECTE -->
<!--     
    <div class="carousel-item" style="text-align:center" *ngFor="let jeuSugg of arrayJeuxSugg;let isFirst = first" [ngClass]="{active:isFirst}">
      <h2>Jeux recommandés</h2>
      <div class="card">
        <div class="imageCard">
          <img src="{{jeuSugg.image}}" class="d-block w-100" alt="{{jeuSugg.nomJeu}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{jeuSugg.nomJeu}}</h5>
          <p class="card-text">{{jeuSugg.description}}</p>
        </div>
        <div class="card-footer">
          <button id="boutonInfo" type="button" class="btn btn-dark" href="#" role="button">En savoir plus</button>
          <button id="boutonAjouter" type="button" class="btn btn-primary" href="#" role="button">Ajouter a ma liste</button>
        </div>
      </div>
    </div> -->

    <!-- AFICHAGE NON CONNECTE -->

   
    <div class="carousel-item" style="text-align:center" *ngFor="let jeuTrend of arrayJeuxAffiche;let isFirst = first" [ngClass]="{active:isFirst}">
      <h2 *ngIf="connecte; else elseBlockTitreCarou">vu que vous avez joué à {{nomJeuProfil}}, nous vous conseillons:</h2>
      <ng-template #elseBlockTitreCarou><h2>Jeux du moment</h2></ng-template>
      <div class="card">
        <div class="imageCard">
          <img src="{{jeuTrend.image}}" class="d-block w-100" alt="{{jeuTrend.nomJeu}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{jeuTrend.nomJeu}}</h5>
          <em>Date de Sortie : {{jeuTrend.dateSortie}}</em>
        </div>
        <div class="card-footer">
          <button id="boutonInfo" type="button" class="btn btn-dark" href="#" role="button" (click)="goToPage(jeuTrend.idJeuDisplayed)">Plus d'info...</button>


        </div>
      </div>
    </div>


    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
