<div class="container"> 
    <div class="infoConnexion">
        <div class="mail">
            Mail : {{mailUser}}
        </div>
        <div class="pseudo">
           Pseudo : {{pseudo}}
        </div>
    </div>   
    <div class="infoPerso">
        <div class="nom">
           Nom : {{nomUser}}
        </div>
        <div class="prenom">
            Prénom : {{prenomUser}}
        </div>
        <div class="numeroTel">
            Numéro de Téléphone : {{numeroDeTel}}
        </div>
        <div class="pays">
            Pays : {{pays}}
        </div>
       <div class="dateNaissance">
           Date de Naissance : {{dateDeNaissance}}
       </div>
        
    </div>    
    <ul class="maListe" *ngFor="let element of listeJeuxPossedes">
        <li>jeu : {{element.nomJeu}}</li>
    </ul>         
        <a href="javascript:void(0);" (click)="logout()">Logout</a>    
</div>   