<div class="container ">
  <div class="d-flex flex-row justify-content-center flex-wrap">
    <div class="nom d-flex col-md-10  box">
      <h1>{{nomJeu}}</h1>
    </div>
    <div class="sidebar d-flex col-md-3 align-content-stretch flex-column box">
      <div class="image">
        <img src={{image}} alt={{nomJeu}}>
      </div>
      <div class="maNote contenuCourt  box " *ngIf="connecte; else elseBlock">
        ma note: {{notePerso}}
        <div class="rating container-fluid d-flex justify-content-around">
          <a (click)="onClickRate(5)" title="Donner 5 étoiles">☆</a>
          <a (click)="onClickRate(4)" title="Donner 4 étoiles">☆</a>
          <a (click)="onClickRate(3)" title="Donner 3 étoiles">☆</a>
          <a (click)="onClickRate(2)" title="Donner 2 étoiles">☆</a>
          <a (click)="onClickRate(1)" title="Donner 1 étoile">☆</a>
        </div>
      </div>
      <ng-template #elseBlock><button type="button" class="btn btn-outline-success btn-block"
          (click)="onClickRate(-1)">noter ce jeu</button></ng-template>
      <button type="button" class="btn btn-outline-success btn-block" (click)="onClickAdd()">Ajouter à "mes
        Jeux"</button>
      <!-- <button type="button" class="btn btn-outline-primary btn-block">Ajouter à "mes Souhaits"</button> -->
      <div class="plateformes  box d-flex justify-content-center">
        <div class="logos d-inline-block" *ngFor="let logo of myArrLogosPlateformes">
          <img src="{{logo.logoPlateforme}}" title="{{logo.nomPlateforme}}">
        </div>
      </div>
      <div class="stores  box">
        ici les stores:
        <div class="groupeBoutonsStores" *ngFor="let store of myArrStores">
          <a href={{store.urlProduit}}>
            <button type="button" class="btn btn-outline-dark btn-block">{{store.nomStore}}</button>
          </a>
        </div>
      </div>
    </div>
    <div class="content d-flex col-md-7 align-content-stretch box">
      <div class="container flex-row d-flex justify-content-start flex-wrap box">
        <div class="col1content flex-row d-flex flex-wrap justify-content-between col-md-7 box">
          <div class="date box col-md-4">
            sortie: <br>
            {{dateSortie}}
          </div>
          <div class="noteMeta box col-md-3">
            note metacritic: <br>
            {{noteMeta}}
          </div>
          <div class="noteWhatcha box col-md-3">
            notre note:<br>
            {{noteMoyenne}}
          </div>
          <div class="genre box col-md-10 offset-md-1">
            <!-- JARIV PAS AMETTRE EN FORME -->
            <div class="groupeBoutonsGenre d-flex justify-content-around " *ngFor="let genre of myArrGenres">
              <span>
                <a href=# class="badge badge-secondary badge-sm">
                  {{genre.nomGenre}}
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="col2content trailer col-md-5 box">
          <iframe width="100%" height="100%" [src]="myClip | safe" allowfullscreen></iframe>
        </div>
        <div class="description col-md-10 offset-md-1 box justify-content-center">
          <h3>Description</h3>
          <div class="contenu" [class.show]="show">
            {{description}}
          </div>
          <button class="boutonShow btn-block btn-light"
            (click)="show = !show">{{ show ? 'Show less': 'Show More' }}</button>
        </div>
        <div class="createurs col-md-10 offset-md-1 box">
          <h3>Developpeurs:</h3>
          <div class="contenuCourt d-flex justify-content-around">
            <span class="badge-pill badge-info developpeur" *ngFor="let dev of myArrDev">
              {{dev.nomDeveloppeur}}
            </span>
          </div>
        </div>
        <div class="plateformes col-md-10 offset-md-1 box justify-content-around">
          <h3>plateformes</h3>
          <div class="contenu d-flex justify-content-around flex-wrap" [class.show]="show">
            <span class="btn btn-outline-secondary" *ngFor="let plateformes of myArrPlateformes">
              {{plateformes.nomPlateforme}} <br>
            </span>
          </div>
          <button class="boutonShow btn-block btn-light"
            (click)="show = !show">{{ show ? 'Show less': 'Show More' }}</button>
        </div>
        <div class="galerie col-md-10 offset-md-1 box">
          <h3>Jeux similaire</h3>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" style="text-align:center"
                *ngFor="let jeuSugg of arrayJeuxAffiche;let isFirst = first" [ngClass]="{active:isFirst}">
                <div class="card">
                  <div class="imageCard">
                    <img src="{{jeuSugg.image}}" class="d-block w-100" alt="{{jeuSugg.nomJeu}}">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{jeuSugg.nomJeu}}</h5>
                    <em>Date de Sortie : {{jeuSugg.dateSortie}}</em>
                  </div>
                  <div class="card-footer">
                    <button id="boutonInfo" type="button" class="btn btn-dark" href="#" role="button"
                      (click)="goToPage(jeuSugg.idJeuDisplayed)">Plus d'info...</button>
                    <button id="boutonAjouter" type="button" class="btn btn-primary" href="#" role="button">Ajouter
                      {{jeuSugg.nomJeu}} a ma liste</button> <!--  A quelle liste ?  -->
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="toast" id="toastAdd" data-delay="3000" style="position: absolute; bottom: 0; right: 0;">
    <div class="toast-header ">
      <strong class="mr-auto"><i class="fa fa-grav"></i> Ajout d'une note</strong>
      <small class="text-muted">à l'instant</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
      {{retourAjoutNote}}
    </div>
  </div>
  <div class="toast" id="toastAdd" data-delay="3000" style="position: absolute; bottom: 0; right: 0;">
    <div class="toast-header ">
      <strong class="mr-auto"><i class="fa fa-grav"></i> Ajout d'un jeu</strong>
      <small class="text-muted">à l'instant</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
      {{retourAjoutJeu}}
    </div>
  </div>
