<p>page-test works!</p>
<div>
    
    http://localhost:8080/projetGAC/test <br>
    le jeu le plus attendu de 2020 selon rawg est :<br>
   {{nom}}
  
</div>
<form (ngSubmit)="onSubmit()" id="formulaire" method="POST" action="http://localhost:8080/projetGAC/TestBase"    >
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label> <input type="email"
                class="form-control" name="email" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Mot de passe</label> <input
                type="password" class="form-control" name="motPasse" required>
        </div>

        <div class="form-group col-md-6">
            <label for="inputAddress">Pseudo</label> <input type="text"
                class="form-control" placeholder="Pseudo" name="pseudo" required>
            
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Nom</label> <input type="text"
                class="form-control" placeholder="Nom" name="nom" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Prénom</label> <input type="text"
                class="form-control" placeholder="Prénom" name="prenom" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Date de Naissance</label> <input
                type="text" class="form-control" name="dateNaissance" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Pays</label> <input type="text"
                class="form-control" placeholder="France" name="pays" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Numéro de Téléphone</label> <input
                type="text" class="form-control" name="numeroTel" required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">ajouter</button>
    <label>{{status}}</label>
</form>