<h2>Veuillez vous inscrire pour profiter pleinement des services proposés par notre merveilleux site!</h2>
<form #formInscription="ngForm" (ngSubmit)="functionSubmit(userAEnvoyer)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label> <input type="email"
                class="form-control"  placeholder="email@email.com" [(ngModel)]="userAEnvoyer.email" name="email" required >
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Mot de passe</label> <input
                type="password" class="form-control"  placeholder="Mot de passe" [(ngModel)]="userAEnvoyer.motPasse" name="motPasse"  required>
        </div>

        <div class="form-group col-md-6">
            <label for="inputAddress">Pseudo</label> <input type="text"
                class="form-control" placeholder="Pseudo" [(ngModel)]="userAEnvoyer.pseudo" name="pseudo" required>
            
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Nom</label> <input type="text"
                class="form-control" placeholder="Nom" [(ngModel)]="userAEnvoyer.nom" name="nom" >
               
            </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Prénom</label> <input type="text"
                class="form-control" placeholder="Prénom" [(ngModel)]="userAEnvoyer.prenom" name="prenom">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Date de Naissance</label> <input
                type="text" class="form-control"  placeholder="01/01/2000" [(ngModel)]="userAEnvoyer.dateNaissance" name="dateNaissance" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Pays</label> <input type="text"
                class="form-control" placeholder="France" [(ngModel)]="userAEnvoyer.pays" name="pays" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputAdress">Numéro de Téléphone</label> <input
                type="text" class="form-control" placeholder="0123456789" [(ngModel)]="userAEnvoyer.numeroTel" name="numeroTel">
        </div>
    </div>
    <button class="btn btn-primary" type="submit" >S'inscrire</button>
    
</form>