<header class="banner" role="banner">
  <div class="container">
  </div>
  <!-- debut navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="accueil">
      <img src="assets/img/logo-jeu-vintage.jpg" routerLink="accueil" alt="logo site" width="80" height="80">Whacha
      Playin'</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="classement">Classement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="decouvrir">Découvrir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profil">Mon Profil</a>
        </li>
      </ul>
      <app-encart-profil></app-encart-profil>
      
    </div>
  </nav>

  <!-- fin navbar -->
</header>

<body style="background-color: #D4D4D4;">

  <router-outlet></router-outlet>
</body>
<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3  bg-dark text-light ">
  <div class="footer-copyright text-center py-3">© 2020 Copyright: G A C
  </div>
</footer>
<!-- Footer -->
