<div class="card-deck">
  <div class="card">
    <img src="assets/img/ClicSonic.JPG" class="card-img-top" alt="Clic Sonic">
    <div class="card-body">
      <h5 class="card-title">Clic Sonic : Le easter egg du siècle ?</h5>
      <p class="card-text">Démesuré, dense et immersif ! Ce projet d'ambition a encore quelques secrets qu'il cache peut
        être un peu trop bien. On espère que ce premier opus en appelera d'autres !</p>
    </div>
    <a id="boutonInfo" class="btn btn-secondary" href="http://niksune.net/GameBox/ClicSonic/index.html">En
      savoir plus</a>
  </div>
  <div class="card">
    <img src="assets/img/e-sport.jpg" class="card-img-top" alt="Compétition E-sport">
    <div class="card-body">
      <h5 class="card-title">LOL : Un sport à part entière</h5>
      <p class="card-text">Il a ses champions, ses fans, ses ambiances dignes d'un stade en ébullition, ses codes de
        mode et, désormais, des sponsors issus des grandes maisons de luxe. En cinq ans à peine, l'esport s'est élevé au
        rang des plus grandes compétitions sportives non-virtuelles.</p>
    </div>
    <a id="boutonInfo" type="button" class="btn btn-secondary" href="https://watch.lolesports.com" role="button">En
      savoir plus</a>
  </div>
  <div class="card">
    <iframe src="https://www.youtube.com/embed/7_HVXKQ2Wao" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="height: 200px;" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Ici un petit stream</h5>
      <p class="card-text">Bon, là c'est du Fortnite... Désolé...</p>
    </div>

    <a id="boutonInfo" type="button" class="btn btn-secondary"
      href="https://www.youtube.com/channel/UCChLrtzwxZdJFHNEHgBUrPg" role="button">En
      savoir plus</a>

  </div>

</div>
