<div class="card-deck">
    <div class="card">
      <img src="assets/img/RicketMorty.jpg" class="card-img-top" alt="Rick et Morty">
      <div class="card-body">
        <h5 class="card-title">Plutôt Rick ou Morty ?</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      
    </div>
    <div class="card">
      <img src="assets/img/starw.jpg" class="card-img-top" alt="Star Wars">
      <div class="card-body">
        <h5 class="card-title">Star Wars : C'était mieux avant ?</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">On met un "footer"dans la card ?</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/lol.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Quel champion es-tu ?</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
<div id="content">
    <p class="alert alert-danger" role="alert">
        </p>
</div>